@import url('https://fonts.googleapis.com/css2?family=Jost&family=Lato:wght@300;400&family=Poppins:wght@200;300;400;500&family=Quicksand&family=Wix+Madefor+Display&display=swap');

body {
  background-color: var(--green);
  font-family: 'Wix Madefor Display', sans-serif;
}

:root {
  --green: #6F9283;
  --lighter-green: #adb9a9;
  --purple: #696d7d;
  --beige: rgb(215, 208, 197);
  --beige-highlight: rgb(154, 148, 136);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wix Madefor Display', sans-serif;
}
